# environment
.env
*.env

# airflow
airflow/logs/
airflow/plugins/__pycache__/
airflow/dags/__pycache__/

# dbt
dbt/target/
dbt/dbt_packages/
dbt/logs/
dbt/profiles.yml

# data — never commit raw health data
data/

# python
__pycache__/
*.pyc
*.pyo
.venv/
venv/

# terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/.terraform.lock.hcl

# os
.DS_Store

# editor
.vscode/
